---
const platform = "github";
const username = "koba-masa";
const x_account = "koba_masa40";
---

<footer>
  <p>私のプロジェクトについて詳しくは<a href={`https://www.${platform}.com/${username}`}>{platform}</a>をご確認ください！</p>
  <p>私のプロジェクトについて詳しくは<a href={`https://www.twitter.com/${x_account}`}>twitter</a>をご確認ください！</p>
</footer>
